<div class="col-sm-16">

        <p><%= output %></p>

        <label for="name">Username</label>
        <input type="text" placeholder="username" class="form-control" id="username"> 

        <label for="name">Password</label>
        <input type="text" placeholder="password" class="form-control" id="password"> 

        <br>

        <button type="submit" class="btn btn-success">Login</button></a>
</div>