<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <br>
      <br>
    <ul class="posts">
          <li>
            <span class="badge"><%- post.title %></span><div class="text"><%- post.body %></div></a>
            <br>
          </li>
    </ul>
    <button type="button" class="btn btn-default">Next</button></a>
  </body>
</html>
